
#menu {
    vertical-align:middle;
    height:20px;
    position:absolute;
    bottom:15px;
    right:0px;


}
#menu a {
  color: #008576;
float: left;
font-family: 'Yanone Kaffeesatz';
font-size: 1.8em;
font-weight: bold;
height: 10px;
line-height: 12px;
padding: 0px 15px;
text-decoration: none;
vertical-align: baseline;
}
.result, .search_link {
    float:none !important;
    clear:both;
    width:300px;
}
#advsearch {
    padding-bottom:10px;
    float:left;
    width:50px;
    text-align:left
    padding: 20px 0 0 5px;    
}
#advsearch a {
    color: white;
    font: bold 10px helvetica;
    padding:0;
}
.main-content {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#loginbox {
  
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}
.drop-list {
  background-color:#fff;
  padding:5px;
  font-family:helvetica;
  font-weight:bold;
  color:rgb(69,180,185);
}

/**
 * Search Button 
 */
#searchwrapper {
width:310px; /*follow your image's size*/
height:40px;/*follow your image's size*/
background-image:url('search.jpg'');
background-repeat:no-repeat; /*important*/
background-color:#FFF;
padding:0px;
margin:0px;
position:relative; /*important*/
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
padding:0px;
margin:0px;
border:0px;
width:125px;
height:20px;
}
 
.searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/

width:20px;
height:20px;
} 

